<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-muted" translate>
      Handle_Users_In <span>{{ course.Course }}</span>
    </h4>
    <i
      class="fa-solid fa-xmark close"
      (click)="activeModal.dismiss('Cross click')"
    ></i>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <input
          [(ngModel)]="searchString"
          type="text"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
          aria-describedby="basic-addon2"
          (input)="search()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="isLoading" class="loader-container mt-3">
          <div class="loader"></div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr class="text-muted">
              <th translate>Name</th>
              <th translate>CID</th>
              <th translate>Role</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-muted" *ngFor="let user of usersList">
              <td>{{ user.fullname }}</td>
              <td>{{ user.cid }}</td>
              <td>
                <select
                  class="form-select"
                  [(ngModel)]="user.role"
                  (change)="updateRole(user)"
                >
                  <option
                    value="Admin"
                    [selected]="user.role === 'Admin' ? true : false"
                  >
                    Admin
                  </option>
                  <option
                    value="Student"
                    [selected]="user.role === 'Student' ? true : false"
                  >
                    Student
                  </option>
                  <option
                    value="Teacher"
                    [selected]="user.role === 'Teacher' ? true : false"
                    translate
                  >
                    Teacher
                  </option>
                </select>
              </td>
              <td>
                <i
                  class="fa-solid fa-xmark delete"
                  (click)="removeUser(user)"
                ></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--KVALLES-->

<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-muted" translate>
      Handle_Users_In <span>{{ course.Course }}</span>
    </h4>
    <i
      class="fa-solid fa-xmark close"
      (click)="activeModal.dismiss('Cross click')"
    ></i>
  </div>
  <div class="modal-body">
    <div class="row form mb-3">
      <div class="col-md-6">
        <label for="file-upload" class="custom-file-upload">
          <i class="fa fa-cloud-upload" translate> Add_CSV</i>
        </label>
        <input
          type="file"
          id="file-upload"
          (change)="handleFileInput($event)"
        />
        <button
          class="btn btn-primary w-20"
          [disabled]="csvData.length === 0"
          (click)="submitCSV()"
          translate
        >
          Submit
        </button>
      </div>

      <div class="col-md-3">
        <input
          class="form-control"
          type="text"
          id="newCID"
          placeholder="CID"
          [(ngModel)]="newCid"
        />
      </div>
      <div class="col-md-3">
        <button
          class="btn btn-primary w-20"
          [disabled]="newCid === ''"
          (click)="submitCid()"
          translate
        >
          Submit
        </button>
      </div>
    </div>
    <div class="row">
      <input
        [(ngModel)]="searchString"
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="basic-addon2"
        (input)="search()"
      />
    </div>
    <div>
      <ul class="list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-5">
              <p style="font-weight: bold" translate>Name</p>
            </div>
            <div class="col-md-3">
              <p style="font-weight: bold">CID</p>
            </div>
            <div class="col-md-3">
              <p style="font-weight: bold" translate>Role</p>
            </div>
          </div>
        </li>
        <li class="list-group-item" *ngFor="let user of usersList">
          <div class="row">
            <div class="col-md-5">
              <p>{{ user.fullname }}</p>
            </div>
            <div class="col-md-3">
              <p>{{ user.cid }}</p>
            </div>
            <div class="col-md-3">
              <select [(ngModel)]="user.role" (change)="updateRole(user)">
                <option
                  value="Admin"
                  [selected]="user.role === 'Admin' ? true : false"
                >
                  Admin
                </option>
                <option
                  value="Student"
                  [selected]="user.role === 'Student' ? true : false"
                >
                  Student
                </option>
                <option
                  value="Teacher"
                  [selected]="user.role === 'Teacher' ? true : false"
                  translate
                >
                  Teacher
                </option>
              </select>
            </div>

            <div class="col-md-1">
              <button class="remove" (click)="removeUser(user)">X</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row"></div>
  </div>
</div>
