.btn-primary {
  margin-left: 5px;
}
.text {
  margin-top: 5px;
  justify-content: right;
}

label {
  color: #6c757d;
}

.close {
  color: #6c757d;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.list-group-item {
  border-bottom: 1px solid #ccc;
  padding-top: 3px;
}

.error-message {
  color: #8b0000;
  margin-top: 5px;
  font-size: smaller;
}

#file-upload {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.custom-file-upload {
  height: 38px;
  display: inline-block;
  padding: 10px 12px;
  font-size: 10px;
  color: black;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload:hover {
  background-color: rgb(215, 228, 219);
}
.remove {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: rgb(175, 0, 0);
  padding-right: 5px;
}

.confirm-modal {
  display: none; /* hide the modal by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.confirm-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.form-control:focus {
  border-color: rgba(38, 115, 77, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
}

.form-select:focus {
  border-color: rgba(38, 115, 77, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
}

.form-select {
  color: #6c757d;
}

.form-control {
  color: #6c757d;
}

.delete {
  cursor: pointer;
  float: right;
  color: #d40d12;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #26734d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
