/* You can add global styles to this file, and also import other style files */

html,
body {
  width: auto !important;
  overflow-x: hidden !important;
  /*  background-color: #f5f5f5 !important; */
  background-color: #f6f9f9 !important;
}

.btn-primary {
  background-color: #26734d !important;
  border-color: #26734d !important;
}

.btn-primary:hover {
  background-color: #216b42 !important;
  border-color: #216b42 !important;
}

/* Fix for modal shifting the background */
body.modal-open {
  padding-left: 17px;
}
