<div class="card mb-1 failed slide-in-right delay-1" (click)="openFeedBackModal()">
  <div class="card-body">
    <h6 class="card-subtitle mb-2" style="color:#8B0000">Failed</h6>
    <p class="card-text"> Test: findPythargorasTheorem has failed.</p>
    <p><small class="text-muted">Expected 2.35 but got 3 at line 45</small></p>
  </div>
</div>
<div class="card mb-1 warning slide-in-right delay-2" (click)="openFeedBackModal()">
  <div class="card-body">
    <h6 class="card-subtitle mb-2" style="color:#FFC300;">Warning</h6>
    <p class="card-text"> Test: findDuplicatesInArray has a warning</p>
    <p><small class="text-muted">Doesnt follow name convention pep-8.....</small></p>
  </div>
  <p></p>
</div>
<div class="card mb-1 passed slide-in-right delay-3" (click)="openFeedBackModal()">
  <div class="card-body">
    <h6 class="card-subtitle mb-2" style="color:#006C5C;">Passed</h6>
    <p class="card-text"> Test: findAreaOfTriangle passed.</p>
  </div>
</div>