<!-- Footer -->
<footer class="text-center text-lg-start bg-light">
  <!-- Section: Social media -->

  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="p-1 text-muted" style="background-color: #f5f5f5">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a href="#" style="text-decoration: none; color: inherit"
            ><h1 class="text-uppercase fw-bold mb-4">Hydrant</h1></a
          >
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Admin</h6>
          <p>
            <a href="#!" class="text-reset">Admin login</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Code</h6>
          <p>
            <a
              href="https://github.com/HenrikssonErik/DATX11"
              target="_blank"
              class="text-reset"
              ><i class="fab fa-github me-3"></i>Github</a
            >
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">About</h6>
          <p>This is a bachelor project at Chalmers University of Technology</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div
    class="text-center p-4"
    style="background-color: #26734d; color: whitesmoke"
  >
    © 2023 Copyright
    <a class="text-reset fw-bold" href="#"></a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
