.dropdown-item:active {
  background-color: #26734d;
  color: whitesmoke;
}

.dropdown-item {
  cursor: pointer;
}

footer {
  margin-top: 75px;
}

.dropdown-item:hover {
  background-color: #f6f9f9;
  text-decoration: underline;
}

.dropdown-menu {
  background-color: #f6f9f9;
}

.selectedLanguage {
  text-decoration: none;
}

.selectedLanguage:hover {
  text-decoration: underline;
}
