<h3 class="text-muted">Home Assignment 2</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in arcu
  vehicula, hendrerit mi vitae, hendrerit enim. Pellentesque habitant morbi
  tristique senectus et netus et malesuada fames ac turpis egestas. Ut et
  fermentum dui. Integer condimentum et nunc in accumsan. Aliquam erat volutpat.
  Fusce viverra id enim a rhoncus.
</p>
<!--TODO: If we have no assignment we get a status. We should check for that-->
<app-file-upload></app-file-upload>
