<div class="container text-muted">
  <div class="row" style="margin-top: 70px">
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-center flex-column"
    >
      <div>
        <h2>
          "Always code as if the guy who ends up maintaining your code will be a
          violent psychopath who knows where you live."
        </h2>
      </div>
      <div>
        <p style="margin-left: -300px">- Martin Golding</p>
      </div>
      <div style="margin-top: 10px">
        <button [routerLink]="['/login']" class="getStartedBtn">
          Get started
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill="currentColor"
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              ></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-center">
      <img src="assets\codeThink.svg" height="250" width="auto" />
    </div>
  </div>

  <div class="row" style="margin-top: 75px">
    <div class="col-md-6 col-12">
      <img src="assets\codeType.svg" height="200" width="auto" />
    </div>
    <div class="col-md-6 col-12 d-flex flex-column">
      <div>
        <p class="column-header">
          A code testing platform for teachers and students
        </p>
      </div>
      <div>
        <p>
          Hydrant can automate the process of code testing for teachers and
          students. Our platform provides an easy-to-use interface for teachers
          to create and upload assignments, including unit tests, for students
          to complete. Students can then submit their code, which is
          automatically tested against the uploaded unit tests, providing
          immediate feedback and enabling a more efficient and productive
          learning experience.
        </p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header">Catching and preventing errors early</p>
      </div>
      <div>
        <p>
          By testing the code, it is possible to catch and prevent errors early
          in the development process. This avoids the need to rework code and
          fix errors later on.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header">Improving code quality and reliability</p>
      </div>
      <div>
        <p>
          Ensuring that the code is tested properly and behaves as intended, you
          can improve the overall quality and reliability of your software.
        </p>
      </div>
    </div>
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header">Enhancing maintainability and scalability</p>
      </div>
      <div>
        <p>
          Having a suite of tests that cover various scenarios and use cases,
          you can make changes to your code with more confidence and avoid
          introducing new bugs or issues.
        </p>
      </div>
    </div>
  </div>
</div>
