<div class="container text-muted">
  <div class="row" style="margin-top: 50px">
    <div
      class="col-md-6 col-12 d-flex justify-content-center align-items-center flex-column"
    >
      <div>
        <h2 translate>A_PLATFORM</h2>
      </div>
      <div>
        <p style="margin-left: -80px" translate>BY_AUTHORS</p>
      </div>
      <div style="margin-top: 10px">
        <button [routerLink]="['/login']" class="getStartedBtn" translate>
          Get_started
          <div class="icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                fill="currentColor"
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
              ></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-center">
      <img src="assets\codeThink.svg" height="250" width="auto" />
    </div>
  </div>
</div>

<div class="row" style="margin-top: 20px">
  <div class="col-12">
    <div style="background-color: #26734d; height: 40px"></div>
  </div>
</div>

<div class="container text-muted">
  <div class="row" style="margin-top: 20px">
    <div class="col-md-6 col-12">
      <img src="assets\codeType.svg" height="200" width="auto" />
    </div>
    <div class="col-md-6 col-12 d-flex flex-column">
      <div>
        <p class="column-header" translate="">A_PLATFORM</p>
      </div>
      <div>
        <p translate>A_PLATFORM_TEXT</p>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header" translate>
          Catching_and_preventing_errors_early
        </p>
      </div>
      <div>
        <p translate>Catch_And_Prevent_Text</p>
      </div>
    </div>
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header" translate>
          Improving_code_quality_and_reliability
        </p>
      </div>
      <div>
        <p translate>Improving_code_quiality_and_reliability_text</p>
      </div>
    </div>
    <div class="col-md-4 col-12 d-flex flex-column">
      <div>
        <p class="column-header" translate>
          Enhancing_maintainability_and_scalability
        </p>
      </div>
      <div>
        <p translate>Enhancing_maintainability_and_scalability_Text</p>
      </div>
    </div>
  </div>
</div>
