<div class="d-flex justify-content-center">
  <div class="flip-card">
    <div class="flip-card-inner" id="flip-card-inner">
      <div class="flip-card-front card p-4">
        <div class="container">
          <form (ngSubmit)="onSubmitSignUp()" [formGroup]="signUpForm">
            <h3 class="text-center text-muted mb-4">Hydrant Sign Up</h3>
            <div class="form-group mb-3">
              <label for="cid" class="text-muted">Chalmers ID (CID)</label>
              <input
                [ngClass]="{
                  success: signUpForm.get('cid')?.valid,
                  error:
                    signUpForm.get('cid')?.invalid &&
                    (signUpForm.get('cid')?.dirty ||
                      signUpForm.get('cid')?.touched)
                }"
                type="text"
                [(ngModel)]="cid"
                formControlName="cid"
                class="form-control focus-border"
                id="cid"
                placeholder="Enter CID"
                (focus)="onInputFocus('cid', signUpForm)"
                required
              />
              <!--  <div class="error-message" *ngIf="signUpForm.get('cid')?.invalid && (signUpForm.get('cid')?.dirty || signUpForm.get('cid')?.touched)">
                Please enter a CID
              </div> -->
            </div>
            <div class="form-group mb-3">
              <label for="signUpEmail" class="text-muted"
                >Email address<span
                  ><i
                    class="fa-regular fa-circle-question"
                    data-bs-toggle="tooltip"
                    data-bs-placement="top"
                    data-bs-title="Only Chalmers email is allowed"
                  ></i></span
              ></label>
              <div class="input-group">
                <input
                  type="email"
                  formControlName="signUpEmail"
                  class="form-control text-muted"
                  onfocus="this.blur()"
                  id="signUpEmail"
                  [value]="cid"
                  readonly
                />
                <span class="input-group-text" id="emailending"
                  >@chalmers.se</span
                >
              </div>
              <!--  <div class="error-message" *ngIf="signUpForm.get('signUpEmail')?.invalid && (signUpForm.get('signUpEmail')?.dirty || signUpForm.get('signUpEmail')?.touched)">
                Please enter a valid email address.
              </div> -->
            </div>
            <div class="form-group mb-1">
              <label for="signUpPassword" class="text-muted">Password</label>
              <input
                [ngClass]="{
                  success: signUpForm.get('signUpPassword')?.valid,
                  error:
                    signUpForm.get('signUpPassword')?.invalid &&
                    (signUpForm.get('signUpPassword')?.dirty ||
                      signUpForm.get('signUpPassword')?.touched)
                }"
                type="password"
                formControlName="signUpPassword"
                class="form-control focus-border"
                id="signUpPassword"
                placeholder="Password"
                (focus)="onInputFocus('signUpPassword', signUpForm)"
                required
              />
              <!--  <div class="error-message" *ngIf="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty || signUpForm.get('password')?.touched)">
                Please enter a password.
              </div> -->
            </div>
            <div class="form-group form-check mt-3">
              <input
                type="checkbox"
                formControlName="termsAndCon"
                class="form-check-input"
                id="termsAndCon"
              />
              <label class="form-check-label text-muted" for="termsAndCon"
                >I agree to the
                <a
                  href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley"
                  style="color: inherit"
                  target="_blank"
                  >Terms and Conditions</a
                ></label
              >
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block mt-3 w-100"
              [disabled]="signUpForm.invalid"
            >
              Sign Up
            </button>
            <div class="text-center">
              <p class="mt-3 text-muted mb-0">
                Already have an account?
                <a
                  [routerLink]=""
                  (click)="flipTo('login')"
                  style="color: inherit"
                  class="signUp-link"
                  href="/signup"
                  >Log in</a
                >
              </p>
            </div>
            <!--   <h2 class="signUpHorizontal"><span>Or</span></h2>
            <button type="button" (click)="flipToLogin()" class="btn btn-secondary btn-block mt-2 w-100">Go Back to Login</button> -->
          </form>
        </div>
      </div>

      <div class="flip-card-back card p-4">
        <div class="container">
          <form (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
            <h3 class="text-center text-muted mb-4">Hydrant Login</h3>
            <div class="form-group mb-3">
              <label for="email" class="text-muted">Email address</label>
              <input
                [ngClass]="{
                  success: loginForm.get('email')?.valid,
                  error:
                    loginForm.get('email')?.invalid &&
                    (loginForm.get('email')?.dirty ||
                      loginForm.get('email')?.touched)
                }"
                type="email"
                formControlName="email"
                class="form-control focus-border"
                id="email"
                placeholder="Enter email"
                (focus)="onInputFocus('email', loginForm)"
                required
              />
              <!--  <div class="error-message" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
                Please enter a valid email address.
              </div> -->
            </div>
            <div class="form-group mb-2">
              <label for="password" class="text-muted">Password</label>
              <input
                [ngClass]="{
                  success: loginForm.get('password')?.valid,
                  error:
                    loginForm.get('password')?.invalid &&
                    (loginForm.get('password')?.dirty ||
                      loginForm.get('password')?.touched)
                }"
                type="password"
                formControlName="password"
                class="form-control focus-border"
                id="password"
                placeholder="Password"
                (focus)="onInputFocus('password', loginForm)"
                required
              />
              <!--  <div class="error-message" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
                Please enter a password.
              </div> -->
            </div>
            <div class="form-group form-check">
              <input
                type="checkbox"
                formControlName="rememberMe"
                class="form-check-input"
                id="rememberMe"
              />
              <label class="form-check-label text-muted" for="rememberMe"
                >Remember me</label
              >
            </div>
            <button
              type="submit"
              class="btn btn-primary btn-block mt-4 w-100"
              [disabled]="loginForm.invalid"
            >
              Login
            </button>
            <p style="float: right" class="mt-2 mb-0 text-muted ml-auto">
              <a style="color: inherit" href="#">Forgot Password?</a>
            </p>
            <div style="clear: both"></div>
            <!--  <div class="error-message text-center mt-4" *ngIf="submitFailed">
              Please enter valid email and password.
            </div> -->
            <h2><span>Or</span></h2>
            <button
              type="button"
              class="btn btn-secondary btn-block mt-3 w-100"
            >
              Login with Chalmers-SSO
            </button>
            <div class="text-center">
              <p class="mt-3 text-muted mb-0">
                Need an account?
                <a
                  [routerLink]=""
                  (click)="flipTo('signUp')"
                  style="color: inherit"
                  class="signUp-link"
                  href="/signup"
                  >Sign Up!</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
