.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.text-muted {
  color: #6c757d !important;
}

.form-control:focus {
  border-color: #26734d;
  box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
}

.btn-primary {
  background-color: #26734d;
  border-color: #26734d;
}

.form-check-input:checked {
  background-color: #216b42 !important;
  border-color: #216b42
}

.form-check-input:focus {
  border-color: #28a745;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(40 167 69 / 25%);
}

.btn-primary:hover {
  background-color: #216b42;
  border-color: #216b42;
}

.success {

  box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.8);
  
}

.form-group input {
  background-color: #ddd;
  transition: box-shadow 0.2s ease-in-out;
}

.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
}

h2 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #26734d; 
  line-height: 0.1em;
  margin: 10px 0 20px; 
}

span { 
  background: #eee;
  padding: 0 10px; 
  color: #26734d; 
  font-weight: bold; 
  text-transform: uppercase; 
  font-size: 14px; 
}

.error-message {
  color: #8B0000;
  margin-top: 5px;
}


.error {
  box-shadow: 0 0 0 0.2rem rgba(139, 0, 0, 0.5);
}
  


@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
