.close {
  color: #6c757d;
  cursor: pointer;
}

.close:hover {
  color: #000;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.modal-content {
  background-color: #f6f9f9;
}
