<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-muted" translate>
      Upload_File <span>For Assignment {{ assignmentNumber }}</span>
    </h4>
    <i
      class="fa-solid fa-xmark close"
      (click)="activeModal.dismiss('Cross click')"
    ></i>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <app-file-upload
          [courseId]="courseId"
          [assignmentNumber]="assignmentNumber"
          [groupId]="groupId"
        ></app-file-upload>
      </div>
    </div>
  </div>
</div>
