<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title text-muted" translate>
      Upload_File <span>For Assignment {{ assignmentNumber }}</span>
    </h4>
    <i
      class="fa-solid fa-xmark close"
      (click)="activeModal.dismiss('Cross click')"
    ></i>
  </div>
  <div class="col-auto" style="margin-left: 20px">
    <h6 class="text-muted" translate>RequiredFiles</h6>
    <ng-container>
      <p style="padding: 0; margin: 0" *ngFor="let filename of fileList">
        {{ filename }}
      </p>
    </ng-container>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <app-file-upload
          [courseId]="courseId"
          [assignmentNumber]="assignmentNumber"
          [groupId]="groupId"
        ></app-file-upload>
      </div>
    </div>
  </div>
</div>
