.accordion-button:focus {
  color: green;
}
.accordion-button:not(.collapsed) {
  color: green;
  background-color: yellow;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}

::ng-deep ngb-accordion {
  .accordion-button {
    color: #6c757d;
  }
  .accordion-button:focus {
    border-color: rgba(38, 115, 77, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
  }
  .accordion-button:not(.collapsed) {
    border-color: rgba(38, 115, 77, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(38, 115, 77, 0.25);
    background-color: #26734d;
    color: #f5f5f5;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5f5f5'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
}

.titleAccordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.passed {
  /* border-left: 3px solid #006c5c; */
  color: #006c5c;
  /*   background-color: #006c5c; */
}

.failed {
  /* border-left: 3px solid #8b0000; */
  /*  background-color: #8b0000; */
  color: #8b0000;
}

.warning {
  /* border-left: 3px solid #ffc300; */
  /* background-color: #ffc300; */
  color: #ffc300;
}

.statusText {
  margin-right: 15px;
  /*  padding: 8px; */
  /*  color: white; */
  /* border-radius: 18px; */
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #26734d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
