<div class="container text-muted" style="margin-top: 50px">
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h1>404</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h2>
        Either we fucked up or you fucked up, either way this page ain't
        happening
      </h2>
    </div>
  </div>
  <div class="row" style="margin-top: 10px">
    <div class="col-12 d-flex justify-content-center">
      <img src="assets/serverDown.svg" height="200" width="auto" />
    </div>
  </div>

  <div class="row" style="margin-top: 50px">
    <div class="col-12 d-flex justify-content-center">
      <button [routerLink]="['/']" class="btn btn-primary">
        <i style="padding-right: 10px" class="fa-solid fa-house"></i>Take me
        home
      </button>
    </div>
  </div>
</div>
