<div class="card-container">
  <div class="card">
    <div class="header">
      <h3><i class="fa fa-chalkboard-user courseIcon"></i></h3>
      <div class="dropdown">
        <a
          class="dropdown text-muted selectedItem"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span
            ><h5><i class="fa-solid fa-ellipsis-vertical courseIcon"></i></h5
          ></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item text-muted ml-2" translate>Something</a>
          </li>
          <li>
            <a class="dropdown-item text-muted ml-2" translate>Something2</a>
          </li>
        </ul>
      </div>
    </div>
    <p *ngIf="data" class="courseText">Datakommunikation - {{ data.Course }}</p>
    <div class="progress-bar-container">
      <div class="progress-bar"></div>
      <div class="progress-text">13/16</div>
    </div>
  </div>
</div>
