<!--TODO: If we have no courses we get a status. We should check for that-->
<div
  class="card"
  *ngIf="data"
  (click)="goToCourse(data.courseID)"
  [style.background-color]="primaryColor"
>
  <div class="header">
    <h3><i class="fa fa-chalkboard-user courseIcon"></i></h3>
    <div class="dropdown">
      <a
        class="dropdown text-muted selectedItem"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        (click)="$event.stopPropagation()"
      >
        <span
          ><h5>
            <i class="fa-solid fa-ellipsis-vertical courseIconElippsis"></i></h5
        ></span>
      </a>
      <ul class="dropdown-menu" (click)="$event.stopPropagation()">
        <li *ngFor="let color of cardColors">
          <a
            class="dropdown-item text-muted ml-2"
            (click)="changeCardColor(color); $event.stopPropagation()"
            ><div class="color-box" [style.backgroundColor]="color.value"></div>
            <span>{{ color.name }}</span></a
          >
        </li>
      </ul>
    </div>
  </div>
  <p *ngIf="data" class="roleText">{{ data.Role }}</p>
  <p *ngIf="data" class="courseText">
    {{ data.CourseName }} - {{ data.Course }}
  </p>
  <div class="progress-bar-container" [style.background-color]="secondaryColor">
    <div
      class="progress-bar"
      role="progressbar"
      [ngStyle]="{
        'width': (data.Completed
          ? data.Completed / data.Assignments.length *100
          : 0) + '%'
      }"
    ></div>
  </div>
  <div class="progress-text">
    {{ data.Completed ? data.Completed : 0 }} / {{ data.Assignments.length }}
  </div>
</div>
