<div class="card" [formGroup]="form">
  <div class="header">
    <h5><span translate>Assignment </span> {{ Assignment.AssignmentNr }}</h5>
    <div class="form-group form-check">
      <input
        type="checkbox"
        formControlName="editMode"
        class="form-check-input"
        id="editMode"
        (click)="editToggle()"
      />
      <label class="form-check-label text-muted" for="editMode" translate
        >Edit_Mode</label
      >
    </div>
  </div>
  <div class="body">
    <div class="row">
      <div class="form-floating col-md-10">
        <input
          type="text"
          class="form-control"
          id="floatingAssignmentName"
          formControlName="AssignmentName"
        />
        <label for="floatingAssignmentName" translate>Assignment_Name</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-floating">
          <input
            type="date"
            class="form-control"
            id="Date"
            formControlName="Date"
          />
          <label for="Date" translate>Due_Date</label>
        </div>
      </div>
      <div class="col-md-7">
        <label
          for="formFile"
          class="form-label"
          style="font-size: small"
          translate
          >Upload_Tests</label
        >
        <input
          class="form-control"
          type="file"
          id="Files"
          (change)="fileBrowseHandler($event)"
          [disabled]="!form.get('editMode')?.value"
          multiple
        />
      </div>
      <!-- add (change)="fileBrowseHandler($event)"  to input-->
    </div>
    <div class="row">
      <p translate>Test_Files</p>
      <span *ngIf="loadingAssignment" class="loader"></span>
      <div *ngIf="!loadingAssignment">
        <div class="col" *ngFor="let file of filenames">
          <p class="files" (click)="downloadTest(file)">{{ file }} &#x2193;</p>
        </div>
        <div *ngIf="filenames.length == 0"><p translate>No_Tests</p></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-floating">
          <textarea
            class="form-control"
            id="description"
            formControlName="Description"
          ></textarea>
          <label for="description" translate>Description</label>
        </div>
      </div>
    </div>
    <button
      style="float: right"
      *ngIf="form.get('editMode')?.value"
      class="btn btn-primary mt-2"
      (click)="onSubmit()"
      translate
    >
      Save
    </button>
  </div>
</div>
