<nav class="nav">
  <div class="container">
    <div class="logo">
      <a
        href="/"
        class="text-uppercase fw-bold text-muted pt-1"
        style="font-size: 29px"
        >Hydrant</a
      >
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <!-- TODO: Use routerLinkActive and [routerLink] when the links becomes active -->
        <li><a href="#" class="text-muted">Courses</a></li>
        <li><a href="#" class="text-muted">Assignments</a></li>
        <li><a href="#" class="text-muted">Settings</a></li>
        <li><a href="/login" class="text-muted">Login</a></li>
      </ul>
    </div>
    <span class="navTrigger">
      <i></i>
      <i></i>
      <i></i>
    </span>
  </div>
</nav>
<div style="height: 80px"></div>
