<div class="container text-muted">
  <div class="row flex-wrap">
    <div class="col-md-2 col-12" style="border-right: 1px solid grey">
      <div class="row">
        <div>
          <h2 style="margin-top: 20px">Maltec</h2>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12 d-flex justify-content-center">
      <div class="card text-bg-success mb-3" style="width: 15rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="width: 15rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="width: 15rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="width: 15rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="width: 15rem">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>

    <div
      class="col-md-3 col-12 d-flex justify-content-center"
      style="border-left: 1px solid grey"
    ></div>
  </div>
</div>
