<div class="container text-muted mt-4">
  <div class="row flex-wrap">
    <div class="col-md-3 col-12 rightBorder">
      <div class="row">
        <div class="col-12">
          <h3 class="mt-3">Maltec</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>maltec@chalmers.se</p>
        </div>
      </div>

      <div class="row bottomBorder">
        <div class="col-6">
          <div class="row mb-4">
            <div class="col-6 iconRow" style="padding: 0">
              <i class="coursesIcon fa-solid fa-graduation-cap"></i>
            </div>
            <div class="col-6" style="padding: 0">
              <p class="numberText">0</p>
              <td><p class="nameText" translate>Courses</p></td>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6 iconRow" style="padding: 0">
              <i class="coursesIcon fa-solid fa-code"></i>
            </div>
            <div class="col-6" style="padding: 0">
              <p class="numberText">11</p>
              <td><p class="nameText" translate>Labs</p></td>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4 class="mt-3">Coming Up</h4>
          <div *ngIf="deadlines.length == 0">
            <p class="noDeadLines mt-5" translate>No_deadlines</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active me-4"
            id="current-tab"
            data-bs-toggle="tab"
            data-bs-target="#current-tab-pane"
            type="button"
            role="tab"
            aria-controls="current-tab-pane"
            aria-selected="true"
          >
            Current
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link me-4"
            id="upcoming-tab"
            data-bs-toggle="tab"
            data-bs-target="#upcoming-tab-pane"
            type="button"
            role="tab"
            aria-controls="upcoming-tab-pane"
            aria-selected="false"
          >
            Upcoming
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link me-4"
            id="contact-tab"
            data-bs-toggle="tab"
            data-bs-target="#contact-tab-pane"
            type="button"
            role="tab"
            aria-controls="contact-tab-pane"
            aria-selected="false"
          >
            Contact
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div
          class="tab-pane fade show active"
          id="current-tab-pane"
          role="tabpanel"
          aria-labelledby="current-tab"
          tabindex="0"
        >
          <p>Test 1</p>
        </div>
        <div
          class="tab-pane fade"
          id="upcoming-tab-pane"
          role="tabpanel"
          aria-labelledby="upcoming-tab"
          tabindex="0"
        >
          <p>Test 2</p>
        </div>
        <div
          class="tab-pane fade"
          id="contact-tab-pane"
          role="tabpanel"
          aria-labelledby="contact-tab"
          tabindex="0"
        >
          <p>Test 3</p>
        </div>
      </div>
    </div>

    <div
      class="col-md-2 col-12 d-flex justify-content-center leftBorder recentEvents"
    >
      <div class="row">
        <div class="col-12">
          <h4 class="mt-3">Recent Events</h4>
          <div *ngIf="events.length == 0">
            <p class="nothingNew mt-5" translate>Nothing_new</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
