<div class="container text-muted">
  <div class="row" style="margin-top: 50px">
    <div class="col-md-6 col-12 d-flex justify-content-center flex-column">
      <div *ngIf="errorCaught | async; else noError">
        <h4 style="text-decoration: underline" translate>Verify_error_title</h4>
        <p translate>{{ responseMessage }}</p>
      </div>

      <ng-template #noError
        ><div *ngIf="verificationFinished | async; else verifyingComponent">
          <h4 style="text-decoration: underline" translate>
            Verify_success_title
          </h4>
          <p style="font-size: large">
            <span translate>Verify_success_body1</span> {{ responseMessage }}
            <span translate>Verify_success_body2</span>
          </p>
          <p translate>Verify_success_redirect</p>
        </div>

        <ng-template #verifyingComponent
          ><h4 style="text-decoration: underline" translate>
            Verify_progress_title
          </h4>
          <p translate>Verify_progress_body</p></ng-template
        ></ng-template
      >
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-center">
      <img src="assets\{{ imgPath }}.svg" height="250" width="auto" />
    </div>
  </div>
</div>
