::placeholder {
  opacity: 0.8;
}

span {
  background: #eee;
  padding: 0 10px;
  color: #26734d;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.error-message {
  color: #8b0000;
  margin-top: 5px;
  font-size: smaller;
}
