<div class="row">
  <div class="col-md-6 mt-3">
    <div class="row mt-2">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="subText">
          <h2 translate>Create_Course</h2>
          <br />
          <span translate>create_course_subtext</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img
          class="canvasIllu"
          src="assets\canvas_teacher.svg"
          height="220"
          width="auto"
        />
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mt-3">
      <div class="header">
        <h5 translate>Create_Course</h5>
      </div>
      <form (ngSubmit)="onSubmit()" #myForm="ngForm">
        <div class="form-group row">
          <div class="col-md-12 mb-3">
            <label for="name" translate>Course_Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              required
              [(ngModel)]="formData.Course"
              placeholder="Introduction to Software Engineering"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-4">
            <label for="abbreviation" translate>Course_Code</label>
            <input
              type="text"
              class="form-control"
              id="abbreviation"
              name="abbreviation"
              required
              pattern="[A-Z]{3}[A-Z\d]{3}"
              title="Can only be six characters"
              [(ngModel)]="formData.Abbreviation"
              placeholder="ABC123"
              #abbreviationControl="ngModel"
              (ngModelChange)="formData.Abbreviation = $event.toUpperCase()"
            />
            <div
              class="error-message"
              *ngIf="abbreviationControl.errors?.['pattern']"
            >
              Format: ABC123
            </div>
          </div>
          <div class="col-md-4">
            <label for="rating" translate>Teaching_Period</label>
            <input
              type="number"
              class="form-control"
              id="rating"
              name="LP"
              required
              [(ngModel)]="formData.TeachingPeriod"
              min="1"
              max="5"
              placeholder="E.g 5 (summer)"
              #LpControl="ngModel"
            />
            <div
              class="error-message"
              *ngIf="LpControl.errors?.['min'] || LpControl.errors?.['max']"
              translate
            >
              lp_form
            </div>
          </div>
          <div class="col-md-4">
            <label for="year" translate>Year</label>
            <input
              type="number"
              class="form-control"
              id="rating"
              name="Year"
              required
              [(ngModel)]="formData.Year"
              [min]="minYear()"
              #YearControl="ngModel"
            />
            <div
              class="error-message"
              *ngIf="YearControl.errors?.['min']"
              translate
            >
              Cannot_be_a_previous_year
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!myForm.valid"
            translate
          >
            Create_Course
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
